@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'tenpines-material-components';
@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'navigation-bar';
@import 'reuniones';

$primary-color: purple;
$yellow-star: #FFCE54;

.ultimo-tema-style {
  border-bottom: dashed;
  border-bottom-color: $primary-color;
}

.pointer {
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.center {
  margin: auto;
}

.ultimo-tema-stile {
  border-bottom: dashed;
  border-bottom-color: $primary-color;
}

.parcheDeContEditor {
  position: relative;
  height: 65px;
}

.parcheDeEditorBottom {
  position: absolute;
  bottom: 0px;
}

.crop {
  overflow: auto;
  overflow-wrap: break-word;
  margin: 0px;
}

.titulo-de-tema {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.clickable {
  cursor: pointer;
}

.indivisible {
  white-space: nowrap;
}

.con-padding {
  padding: 20px;
}

.text-viewer {
  white-space: pre-wrap;
}

.h-100 {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.primary-color {
  color: $primary-color;
}

.yellow-star {
  color: $yellow-star;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  z-index: 0;
}

.btn {
  background: $primary-color;
  border-color: $primary-color;
  color: white;
}

.btn:hover {
  background: #6b016b;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: $primary-color;
  box-shadow: $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}

h6 {
  font-size: 16px;
}

@import "ember-power-select";
