@import "ember-power-select/themes/material";
@import "ember-power-select";
@import "tenpines-material-components";
@import "ember-power-select/themes/material";
@import "ember-power-select";
@import "toast";
@import "navigation-bar";
@import "reuniones";
@import "asistentes";
@import "minuta";
@import "creacion-edicion-tema";
@import "resaltador";
@import "colores";

$yellow-star: #ffce54;
$ember-power-select-placeholder-color: black !important;

.ultimo-tema-style {
  border-bottom: dashed;
  border-bottom-color: $primary-color;
}

.pointer {
  cursor: pointer;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.center {
  margin: auto;
}

.hide-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ultimo-tema-stile {
  border-bottom: dashed;
  border-bottom-color: $primary-color;
}

.parcheDeContEditor {
  position: relative;
  height: 65px;
}

.parcheDeEditorBottom {
  position: absolute;
  bottom: 0px;
}

.crop {
  overflow-y: hidden;
  overflow-wrap: break-word;
  margin: 0px;
  max-width: 100vh;
  max-height: 30vh;
}

.titulo-de-tema {
  font-size: 30px;
  font-weight: bold;
  margin: 0px;
}

.clickable {
  cursor: pointer;
}

.indivisible {
  white-space: nowrap;
}

.con-padding {
  padding: 20px;
}

.text-viewer {
  white-space: pre-wrap;
}

.h-100 {
  height: 100%;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}

.primary-color {
  color: $primary-color;
}

.yellow-star {
  color: $yellow-star;
}

[type="checkbox"].filled-in:checked + label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $primary-color;
  background-color: $primary-color;
  z-index: 0;
}

.btn {
  background: $primary-color;
  border-color: $primary-color;
  color: white;
}

.border-btn {
  border: 2px solid $primary-color;
  color: $primary-color;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background: #6b016b;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:focus:not([readonly]),
input[type="password"]:focus:not([readonly]),
input[type="email"]:focus:not([readonly]),
input[type="url"]:focus:not([readonly]),
input[type="time"]:focus:not([readonly]),
input[type="date"]:focus:not([readonly]),
input[type="datetime"]:focus:not([readonly]),
input[type="datetime-local"]:focus:not([readonly]),
input[type="tel"]:focus:not([readonly]),
input[type="number"]:focus:not([readonly]),
input[type="search"]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: $primary-color;
  box-shadow: $primary-color;
  box-shadow: 0 1px 0 0 $primary-color;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

.no-margin {
  margin: 0px;
}

.action-item-list li {
  background: $primary-color;
  color: white;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.btn-flat:focus {
  background-color: #6b016b;
}

.fit-correct-width .ember-view {
  display: contents;
}

div input[type="text"]:focus:not([readonly]) + label {
  color: grey;
}

.ember-power-select-trigger:focus,
div .ember-power-select-trigger {
  border-bottom: 1px solid $primary-color;
}

img {
  max-width: 100%;
}

@import "ember-power-select";
