@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'tenpines-material-components';
@import 'ember-power-select/themes/material';
@import 'ember-power-select';
@import 'navigation-bar';

.ultimo-tema-style {
  border-bottom: dashed;
  border-bottom-color: #ff2323;
}

.parcheDeContEditor {
  position: relative;
  height: 65px;
}

.parcheDeEditorBottom {
  position: absolute;
  bottom: 0px;
}

.crop {
  overflow: auto;
  overflow-wrap: break-word;
}

.titulo-de-tema {
  font-size: x-large;
}

.clickable {
  cursor: pointer;
}

.indivisible {
  white-space: nowrap;
}

.con-padding {
  padding: 20px;
}

.text-viewer {
  white-space: pre-wrap;
}

.h-100 {
  height: 100%;
}

.bold {
  font-weight: 500;
}

@import "ember-power-select";
