.selector-asistente .ember-power-select-trigger{
  border-bottom: 2px solid #800080;
  background-color: transparent;
}

.selector-asistente .ember-power-select-trigger:focus{
  border-bottom: 2px solid #800080;
  background-color: transparent;
}

.minuta-body .asistente-pill{
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 6px 15px 6px 10px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
}

.minuta-body .asistente-pill #close-button{
  display: contents;
}

.minuta-body .asistente-pill #close-icon{
  padding-right: 30px;
}

