.minuta-title {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 20px;
}

.minuta-tratado-title {
  margin-right: 20px;
  padding: 15px 30px 10px 20px;
  width: 100%;
}

.minuta-subtitle {
  color: $no-tratado-color;
  font-weight: bold;
}

.minuta-date {
  margin-left: 15px;
}

.minuta-body {
  width: 80%;
  margin: auto;
  display: flex;
}

.minuta-count {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  background: $no-tratado-color;
  color: white;
  font-weight: bold;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.relative-position-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 20px;
}

.colapse-button {
  background-color: #efefef;
  border-radius: 50%;
  height: 42px;
  width: 42px;
  display: flex;
  justify-content: center;
  border: 2px solid #efefef;
  box-shadow: 1px 1px lightgrey;
}

.colapse-button:focus {
  background-color: lightgrey;
}

.minuta-action-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid lightgrey;
  width: 100%;
  height: 100%;
}

.responsable-item {
  background: purple;
  color: white;
  border-radius: 15px;
  padding: 6px 10px 6px 15px;
  font-size: 16px;
  display: inline-flex;
  margin-bottom: 5px;
}

.minuta-botom-tema {
  padding: 15px 30px 20px 20px;
  text-align: right;
}

.text-extensible {
  position: relative;
}

.descripcion-minuta {
  word-wrap: break-word;
  overflow: hidden;
  margin: 0;
  transition: max-height 0.5s ease-in-out;
}

.descripcion-minuta.colapsada{
  max-height: 5em;
}

.descripcion-minuta.colapsada::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(transparent 60%, rgba(255, 255, 255, 0.7) 100%);
}
