
#menu-items a {
  margin: 0px;
  color: black;
  font-size: large;
  text-transform: capitalize;
  padding: 0px 10px;
}

.menu {
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-user a {
  margin: 0px;
  color: black;
  font-size: large;
}

.menu-user i {
  margin: 5px 0px 0px 0px;
  line-height: inherit;
}

@media only screen and (max-device-width: 720px) {
  .tab {
    display: none !important;
  }

  .menu-user {
    display: none;
  }

  .menu {
    justify-content: center;
  }


a:active {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.light-grey {
  background: #efeff0;
}

.inline {
  display: inline;
}

.logo {
  height: 48px;
  margin: auto;
}

.logo-img {
  height: 100%;
  display: block;
}

.vertical-divisor {
  display: inline-block;
  background: #c1c1c0;
  width: 2px;
  vertical-align: middle;
  margin-top: -3px;
  height: 24px;
}
