
#menu-items {
  margin-left: 40px;
  margin-right: 40px;
}

#menu-items a {
  margin: 5px 15px 5px 15px;
  color: black;
  font-size: large;
}

#menu-items {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
}

#menu-user a {
  margin: 0px;
}

#menu-user i {
  margin: 5px 0px 0px;
}

a:active {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.light-grey {
  background: #efeff0;
}

.inline {
  display: inline;
}

.logo {
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

.logo-img {
  height: 100%;
  display: block;
}

.vertical-divisor {
  display: inline-block;
  height: 35%;
  background: #c1c1c0;
  width: 2px;
  vertical-align: middle;
  margin-top: -3px;
}
