@import "colores";

%obligatorio-espaciado {
  padding: 0px 1.7vw 1.2vh 1.7vw;
  margin: 0px;
  font-size: 14px;
}

#obligatoriedad-resaltable {
  .resaltar {
    @extend %obligatorio-espaciado;
    font-weight: bold;
    border-bottom: 3px solid $primary-color;
  }
  .no-resaltar {
    @extend %obligatorio-espaciado;
    opacity: 0.35;
    cursor: pointer;
  }
}
