@import "colores";

@mixin base-button($background-color) {
  display: flex;
  justify-content: center;
  i {
    margin-right: 0.5em;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}

#check-box label {
  padding-left: 25px;
  color: #444444;
}

.title-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title-label {
  font-size: 43px;
  font-weight: bold;
}

.title-date {
  font-size: 24px;
  opacity: 0.7;
}

.add-tema {
  font-weight: 500;
  text-transform: uppercase;
}

.table {
  border-collapse: separate;
  border-spacing: 0 20px;
}

.noPadding {
  padding: 0;
}

.tema-content {
  padding: 15px 30px 0 20px;
}

.minuta-tema-no-tratado {
  width: 100%;
  margin: 0 30px 0 20px;
  display: flex;
  justify-content: space-between;
}

.tema-horizontal-margin {
  margin: 0 30px 0 20px;
}

.menus-button {
  font-size: 48px !important;
}

.finish-title {
  font-weight: bold;
  font-size: 24px;
}

.finish-content {
  background: white;
  padding: 40px;
}

.vot-star-container {
  position: fixed;
  right: 15px;
  top: 150px;
}

#vot-container {
  display: flex;
  flex-direction: column;
}

#vot-container:hover .vot-star {
  width: 200px;
}

.vot-star,
.no-voted {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 21px;
  padding: 9px;
  margin-top: 5px;
  box-shadow: 1px 1px lightgray;
  transition: width 0.6s cubic-bezier(0.5, 0.01, 0.15, 0.99);
  width: 42px;
  height: 42px;
}

.no-voted {
  opacity: 0.5;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1010px) {
  .vot-star-container {
    display: none;
  }
}

.noHover:hover {
  background: transparent;
}

#edit-menu i {
  color: black;
  line-height: inherit;
}

#agregar-button[disabled] {
  background: purple !important;
  opacity: 0.7;
}

#quitar-button {
  background: transparent !important;
  box-shadow: none;
}

#quitar-button[disabled] {
  opacity: 0.7;
}

.the-lock .tool-tip-text {
  visibility: hidden;
  width: 130px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
  left: 50%;
  top: 2rem;
  margin-left: -65px;
  position: absolute;
  z-index: 1;
}

.the-lock .tool-tip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-bottom-color: grey;
}

.the-lock:hover .tool-tip-text {
  visibility: visible;
}

.texto-tema input {
  height: 2.5rem;
}

.btn-guardar--focus:focus {
  background-color: $primary-color-darker;
}

.tema-colapse-button {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20px;
}

.fit-content-height {
  height: fit-content;
}

.reuniones-list {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-top: 2em;

  &__listado {
    width: 25%;
    margin-right: 2em;

    &__title {
      font-weight: bold;
      font-size: 2.3rem;
    }

    &__button {
      @include base-button($primary-color);
      width: 100%;
      margin: 1em 0;
    }

    td {
      padding: 0;
      height: 3em;
    }

    tr:hover {
      td {
        cursor: pointer;
        background: white;
      }
    }
  }

  &__detalle {
    width: 65%;
  }
}

.detalle-reunion {

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;

    &__title {
      font-weight: bold;
      font-size: 2.5rem;
    }

    &__seccion-botones {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      a {
        text-decoration: none;
      }

      &__primary-button {
        @include base-button($primary-color);
      }
    }
  }

  &__body {

    &__marcador {
      display: flex;
      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 2em;

      > * {
        margin-right: 0.4em;
      }
    }

    &__table {
      th, td {
        text-align: center;
      }
    }
  }
}

