.p-20 {
  padding: 20px;
}

.pl {
  padding-left: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.no-margin {
  margin: 0;
}

.m-5 {
  margin: 5px;
}

.mt-0 {
  margin-top: 0;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-20 {
  margin-right: 20px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-35 {
  opacity: 0.35;
}

.hidden {
  display: none;
}

.position-relative {
  position: relative;
}

.inline-flex {
  display: inline-flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-1{
  flex: 1;
}

.center {
  margin: auto;
}

.align-left {
  text-align: initial;
}

.height-inherit {
  height: inherit;
}

.w-750 {
  width: 750px;
}

.clickable {
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.full-width {
  width: 100%;
}

.w-30 {
  width: 30%;
}

.no-table-border-spacing {
  border-spacing: 0 0;
}

.hide-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.indivisible {
  white-space: nowrap;
}

.bold {
  font-weight: bold;
}

.gray-subtitle {
  font-weight: bold;
  opacity: 0.7;
}

.text-small{
  font-size: 0.9rem;
}

.text-gray{
  color: darkgray;
}

.white-text {
  text-decoration: white;
}

.plus-size {
  line-height: 130% !important;
  font-size: 24px !important;
}
