<h4>{{temaDeMinuta.tema.titulo}}</h4>
<ul class="browser-default">
  {{#each temaDeMinuta.actionItems as |actionItem|}}
    <li>
      <p><b>{{actionItem.responsables.0.name}}</b>: {{actionItem.descripcion}}</p>
    </li>
  {{/each}}
</ul>