<div class="mb-20">
  <div class="tema-content">
    <h5 class="gray-subtitle">Conclusiones</h5>
    {{text-area value=temaDeMinuta.conclusion}}

  </div>

  <div class="divider"></div>
  {{minuta-tema-buttons alCerrar=alCerrar alGuardar=alGuardar temaDeMinuta=temaDeMinuta}}
</div>
