<div class="card-panel">
  <a class="btn-floating waves-effect waves-light purple right"  {{action 'borrarActionItem' unAction-item }}><i class="material-icons ">close</i></a>

  {{selector-y-descripcion-action-item usuariosParaListar=usuarios actionItem=unAction-item}}

</div>
