<button type="button"{{action alCerrar temaDeMinuta}} class="btn-flat bold">
  <h6 class="bold"> Cancelar </h6>
</button>
<button type="button" onclick={{action alGuardar temaDeMinuta}}
        class="btn-flat btn bold {{unless guardarHabilitado "disabled"}}"
        {{action alCerrar temaDeMinuta}}>
  <h6 class="bold"> Guardar </h6>
</button>
