<div class="light-grey">

  <div class="inline-flex justify-content-between align-items-center">
    <div id="menu-items">
      <div style="display: -webkit-box;">
        <div class="logo">
          <img class="logo-img" src="/logo.svg"/>
        </div>
        {{#link-to 'proxima-roots' class="purple-text"}}VOTACIÓN ROOTS{{/link-to}}
        <div class="vertical-divisor"/>
        {{#link-to 'proxima-roots'}}Proxima Roots{{/link-to}}
        {{#link-to 'reuniones.list'}}Reuniones{{/link-to}}
        {{#link-to 'temas-generales'}}Temas Generales{{/link-to}}


      </div>
      <div id="menu-user" class="right">
        {{#tenpines/drop-down label='Opciones' icon='arrow_drop_down' iconToTheRight=true removeBtn=true }}
          <li class="light-grey">{{#link-to 'users'}}Usuarios{{/link-to}}</li>
          <li class="divider"></li>
          <li class="light-grey"><a href="#" {{action "logout"}}>Salir</a></li>
        {{/tenpines/drop-down }}
      </div>

    </div>

  </div>

</div>