{{#if tieneVoto}}
  <div class="vot-star">
    <i class="material-icons star-color">star</i>
    <h6 class="no-margin ml-10 hide-text-overflow">{{tema.titulo}}</h6>
  </div>
{{else}}
  <div class="no-voted right">
    <i class="material-icons grey-text">star</i>
  </div>
{{/if}}
