<div class="text-extensible" {{action onClick}}>
  <p style={{if expandido descriptionMaxHeight}} class="descripcion-minuta {{unless expandido "colapsada"}}">
    {{markdown-view value=texto}}
  </p>
</div>