<div class="vot-star-container">
  <h6 class="grey-text right-align">Votos</h6>
  <div id="vot-container">
    {{tema-star tema=primerVoto}}
    {{tema-star tema=segundoVoto}}
    {{tema-star tema=tercerVoto}}
  </div>

</div>