<div class="vot-star-container">
  <h6 class="grey-text" style="text-align: right">Votos</h6>
  <div id="vot-container">
    {{tema-star tema=primerTema}}
    {{tema-star tema=segundoTema}}
    {{tema-star tema=tercerTema}}
  </div>
</div>