<div>
  <div class="col s12 minuta-title">
    <h4 class="title-label">Minuta de reunión </h4>
    <h4 class="minuta-date"> {{fecha}}</h4>
  </div>
  <div class="minuta-body">

    <div class="col s3 mr-20" style="width:30%">
      <h5>Asistentes</h5>
      <ul>
        {{#each minuta.asistentes as |usuario|}}
          <li>
            <div class="asistente-pill purple white-text">
              <span>
                {{usuario.name}}
              </span>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="col s9" style="width:100%">
      <div class="space-between flex-center">
        <div>
          <h4 class="minuta-subtitle no-margin">Temas minuteados</h4>
          <h6>Último Minuteador: {{minuta.minuteador}}</h6>
        </div>


        <div class="card-action right-align">
          {{#link-to 'minuta.editar' reunionId}}
            <button type="button" class="btn-flat bold btn mr-20">
              Editar
            </button>
          {{/link-to}}

          {{#link-to 'minuta.ver-txt' reunionId}}
            <button type="button" class="btn-flat bold btn">
              Ver TXT
            </button>
          {{/link-to}}
        </div>

      </div>
      <table class="bordered highlight table" style="border-spacing: 0px 0px">
        <tbody>
        {{#each temasTratados as |tema|}}
          <tr>
            {{view-minuta-tema model=model temaDeMinuta=tema router=router editable=false}}
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>